:root {
  --theme--color: #f5940c;
  --el-color-primary: var(--theme--color);
  --el-color-primary-light-3: #f6a027;
  --el-color-primary-light-5: #f7ac42;
  --el-color-primary-light-7: #f9c478;
  --el-color-primary-light-8: #fbcf93;
  --el-color-primary-light-9: #fcdbae;
  --el-color-primary-dark-2: #bf7309;
}